[Unit]
Description=ONVIF Device(Analytics) Service server
After=syslog.target
After=network-online.target



[Service]
Type=forking
WorkingDirectory=/usr/local/bin
PIDFile=/tmp/onvif_srvd.pid
ExecStart=/usr/local/bin/onvif_srvd_debug \
	--pid_file /tmp/onvif_srvd.pid \
	--ifs eth0 \
	--scope onvif://www.onvif.org/name/ss \
	--scope onvif://www.onvif.org/location/Unknow \
	--scope onvif://www.onvif.org/Profile/Streaming \
	--scope onvif://www.onvif.org/Profile/M \
	--scope onvif://www.onvif.org/Profile/S \
	--scope onvif://www.onvif.org/Profile/T \
	--name RTSP --width 1200 --height 720 --url rtsp://%%s:554/unicast --type JPEG \
	--port 8000

TimeoutSec=4



Restart=always
RestartSec=2
StartLimitBurst=0


[Install]
WantedBy=multi-user.target
